# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.env/

# Robot Framework outputs
output/
report.html
log.html
*.xml

# IDE/editor
.vscode/
.idea/
.DS_Store

# Playwright/Appium artifacts
playwright-report/
screenshots/
